@use 'shared.sass'

.card-link
    display: flex
    justify-content: center
    text-decoration: none
    &__box
        box-sizing: border-box
        display: flex
        align-items: flex-end
        max-width: 340px
        min-width: 340px
        height: 340px
        background: shared.$red-color
        border-radius: 10px
        padding: 20px
        @media screen and (max-width: 768px)
            //min-width: 350px
            //max-width: 350px
        @media screen and (max-width: 375px)
            min-width: 100%
            max-width: 100%

    &__title
        @include shared.main-font
        width: 100%
        font-size: 18px
        font-weight: 700
        color: white
