@use 'shared.sass'

.collapse-container
    margin: 0 208px
    @media screen and (max-width: 768px)
        margin: 27px 20px 22px 20px

.collapse
    display: flex
    flex-direction: column
    justify-content: space-between
    cursor: pointer
    &__title
        display: flex
        justify-content: space-between
        align-items: center
        color: white
        font-size: 24px
        font-weight: 700
        @include shared.main-font
        margin: 0
        padding: 10px 20px 8px 15px
        background-color: shared.$red-color
        border-radius: 5px
        &--small
            font-size: 18px
        @media screen and (max-width: 768px)
            font-size: 13px
    &__arrow
        width: 32px
        height: 32px
        transition: transform ease-in-out 0.3s
        &--isRotate
            transform: rotate(180deg)
            transition: transform ease-in-out 0.3s
    &__content
        @include shared.main-font
        font-size: 0px
        font-weight: 400
        flex-grow: 1
        padding: 0 28px 0 20px
        background-color: #F6F6F6
        margin-bottom: 30px
        border-radius: 0 5px 5px 0
        transform-origin: top
        transform: scaleY(0)
        opacity: 0
        transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out, opacity 0.3s 0.1s ease-in-out
        &--isOpen
            padding: 25px 28px 20px 20px
            margin-bottom: 30px
            font-size: 18px
            transform: scaleY(1)
            opacity: 1
            @media screen and (max-width: 768px)
                font-size: 13px

@keyframes collapseEffect 
    0% 
        transform: scaleY(0)
        opacity: 0
    50%
        transform: scaleY(1)
        opacity: 0
    50%
        transform: scaleY(1)
        opacity: 1


    
