@use 'shared.sass'

.navbar 
    display: flex
    justify-content: space-between
    align-items: center
    //padding: 45px 100px 50px 100px
    margin: 45px 100px 50px 100px
    @include shared.main-font
    font-weight: 500
    @media screen and (max-width: 768px)
        margin: 20px 20px 27px 20px


    &__logo
        max-width: 210px
        @media screen and (max-width: 768px)
            max-width: 145px
        @media screen and (max-width: 369px)
            max-width: 100px

    &__box
        display: flex
    &__link
        font-size: 20px
        color: black
        text-decoration: none
        padding: 0 28px
        &:last-child
            padding: 0 0 0 28px
            @media screen and (max-width: 768px)
                padding: 0 13px
        @media screen and (max-width: 768px)
            font-size: 12px
            padding: 0 13px
            text-transform: uppercase
.active
    text-decoration: underline

