@use 'shared.sass'

.hebergment-container
    //margin: 0 100px 50px 100px
    //@include shared.main-font
    &__slider
        display: flex
        justify-content: center
        align-items: center
        height: 415px
        overflow: hidden
        border-radius: 25px
